* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  /* Свойства для сброса начальных стилей элементов */
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    background-color: rgb(41, 101, 241);
    padding: 70px;/* Стили для хедера */
}

header span {
    font-family: "Inter", sans-serif;
    margin-bottom: 30px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    line-height: 60px;
    text-align: right;/* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    background-color: aliceblue;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: min-content;/* Стили для первой секции */
}

.main-title {
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
    color: #363940;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;/* Стили для заголовка в первой секции */
}

.main-text {
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 40px;/* Стили для текста в первой секции */
}

.main-image {
    max-width: 715px;/* Стили для изображения в первой секции */
}


.about-section {
    padding: 100px 0px;
    /* Стили для второй секции */
}

select {
    height: 35px; 
    line-height: 35px; 
    padding: 0 30px;
    /* Стили для выпадающего списка */
}

.section-title {
    padding-bottom: 25px;/* Стили для заголовков во второй секции */
}

.frameworks-list {
    padding-left: 20px;
    list-style-image: url(assets/solar_map-arrow-up-bold.svg);/* Стили для маркированного списка во второй секции */
}

.books-list {
    padding-left: 20 px;
    list-style-type: decimal;/* Стили для нумерованного списка во второй секции */
}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    width: 300px;
    height: 40px;
    padding: 15px;
    border-radius: 0%;/* Стили для односточного поля ввода текста */
}

.btn {
    width: 130px;
    height: 40px;
    background: #0a61f7;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    line-height: 10.6px;
    letter-spacing: 1.4px;
    text-transform: uppercase;/* Стили для кнопки */
}

.line {
   margin: 35px 0px;/* Стили для линии */
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
    font-size: 14px;/* Стили для таблицы */
}

th, td {
    border: 1 px #95A188;
    width: 140px;
    padding: 12px 15px;
    text-align: center;/* Стили для ячеек таблицы */
}

footer {
    background-color: rgb(181, 184, 226);
    padding: 26px 0;/* Стили для футера */
}

.footer-link {
    font-size: 14px;
    text-decoration: none;
    text-align: justify;/* Стили для футера */
}